@import '../../../../../scss/style-base.css';

.control-volume-wrapper{
      position: relative;
      width: 200px;
      display: flex;
      align-items: center;
      margin-left: 50px;

      .volume-icon{
            display: flex;
            justify-content: center;
            align-items: center;

            i{
                  color: white;
                  font-size: 18px;
                  margin-right: 15px;     
            }
      }

      .MuiSlider-root{
            color: white;

            .MuiSlider-rail{
                  height: 4px;
                  background: $color-grey-2;
            }

            .MuiSlider-track{
                  height: 4px;
            }

            .MuiSlider-thumb{
                  width: 15px;
                  height: 15px;

                  &.active{
                        box-shadow: none !important;
                  }

                  &:hover{
                        box-shadow: none !important;
                  }
            }
      }
}