@import '../../../../scss/style-base.css';

.navbar-guide-tv{

      .section-wrapper{ 
            padding: 0 50px;
      
            .navbar-list{
                  display: flex;
                  flex-direction: row;
            
                  .navbar-item{
                        margin: 0 0;
                        min-width: 4vw;
                        transition: all .3s ease;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        border-radius: 3px;
                        text-align: center;
                        cursor: pointer;
                        /* border: 1px solid pink; */
            
                        .navbar-link{
                              text-decoration: none;
                              display: flex;
                              flex-direction: row;
                              align-items: center;
                              padding: .8vw 1vw;
                              border-radius: 5px;
                              /* border: 1px solid green; */
      
                              i, p{
                                    font-size: .8vw;
                                    font-weight: 600;
                                    margin: 0 0;
                                    color: $color-grey-3;
                                    transition: all .15s ease;
                              }
            
                              &:hover i{
                                    color: $color-white;
                              }
            
                              &.active i{
                                    color: $color-white;
                              }

                              &.active{
                                    background: rgba($rgba-color-smokey-black, 0.5);
                              }
            
                              &:hover p{
                                    color: $color-white;
                              }
            
                              &.active p{
                                    color: $color-white;
                              }
                        }
                  }
            }
      }
}