@import '../../../../styles/style-base.css';

.content-catalogue.alacarta{
      position: absolute;
      overflow: hidden;
      width: 100%;
      top: $height-top-menu;
      padding: 0;
}

.content-error{
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      transition: all .3s ease;
      z-index: 3;
      background: black;
}