@import '../../../../../../scss/style-base.css';

.buttons-player{
    .list-buttons{
          list-style: none;
          display: flex;
          flex-direction: row;

          .button-item{
                width: 50px;
                height: 50px;
                font-size: 20px;
                margin: 0 20px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                color: #bdbdbd;
                cursor: pointer;

                &.active{
                    background: $color-guide-blue;
                    color: white;
                    font-size: 22px;
                }

                i.fa-play{
                    margin-left: 4px !important;
                }

                .repeat{
                    color: $color-guide-blue;
                }

                .repeat-one{
                    color: $color-guide-blue;
                }

                .random{
                    color: #bdbdbd;
                    
                    &.active{
                        color: $color-guide-blue;
                    }
                }
          }
    }
}