.group-form-error{
      border-radius: 5px;
      background: #ffeb3b;
      padding: 12px 15px;
      margin-bottom: 10px;

      .text-error{
          font-size: 16px;
          color: #100f10;

          .link-error{
              color: #100f10;
          }
      }
  }