.MuiPaper-root{
      background-color: transparent !important;
      box-shadow: none !important;
    
      button{
            box-shadow: none !important;
      }

      .MuiTabs-indicator{
            background-color: white !important;
      }

      .MuiTab-fullWidth{
            flex-grow: 0 !important;
            color: #9e9e9e !important;
      }

      .Mui-selected{
            color: white !important;
      }
}

.MuiBox-root{
      padding: 0 !important;
}
