@import '../../scss/style-base.css';

.MuiPaper-root{
      /* background-color: transparent !important; */
      box-shadow: none !important;

      span{
            font-size: .8vw;
            font-weight: 600;
      }
    
      button{
            box-shadow: none !important;
      }

      .MuiTabs-indicator{
            background-color: $color-white !important;
      }

      .MuiTab-fullWidth{
            flex-grow: 0 !important;
            color: $color-grey-5 !important;
      }

      .MuiTab-wrapper{
            color: $color-grey-3;
      }

      .Mui-selected{
            .MuiTab-wrapper{
                  color: $color-white !important;
            }
      }
}

.MuiBox-root{
      padding: 0 !important;
}
