h1{
      font-size: 3.2rem;
}
    
h2{
      font-size: 2.4rem;
}

h3{
      font-size: 2.4rem;
}

h4{
      font-size: 1.6rem;
}

h5{
      font-size: 1.6rem;
}

h6{
      font-size: 1.4rem;
}

.large-title-1{
      font-size: 4rem;
}

.large-title-2{
      font-size: 3.2rem;
}

.large-title-3{
      font-size: 2.4rem;
}

.title-1{
      font-size: 3.2rem;
}

.title-2{
      font-size: 2.4rem;
}

.title-3{
      font-size: 1.6rem;
}

.body-1{
      font-size: 1.6rem;
}

.body-2{
      font-size: 1.6rem;
}

.body-3{
      font-size: 1.6rem;
}

.caption{
      font-size: 1.4rem;
}

.sub-caption{
      font-size: 1.2rem;
}
