@import '../../scss/style-base.css';

.wrapper-home{
    /* overflow-x: hidden;
    border: 1px solid red; */
    min-height: calc(100vh - $height-top-menu);
    display: flex;
    flex-direction: column;
}
