.wrapper-radio{

      .guide-radio{
            min-height: 300px;
            width: 100%;
            position: absolute;
            bottom: 90px;

            .tabs-wrapper{
                  header{
                        padding: 0 50px;

                        &.MuiPaper-root{
                              background: transparent !important;
                        }
                  }
            }
      }
}
