.wrapper-zonakids{
      position: relative;
      width: 100%;
      min-height: 100vh;
      height: auto;
}

.content-error{
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      transition: all .3s ease;
      z-index: 3;
      background: black;
}

.active-enter {
      opacity: 0;
}
.active-enter-active {
      opacity: 1;
      transition: opacity 300ms;
}
.active-enter-done {
      opacity: 1;
}
.active-exit {
      opacity: 1;
}
.active-exit-active {
      opacity: 0;
      transition: opacity 300ms;
}    
.active-exit-done {
      opacity: 0;
} 