@import '../../scss/style-base.css';

.loader-tv{
      position: absolute;
      width: 100%;
      height: 100vh;
      background: #18191c;
}

.wrapper-livetv{
      position: relative;
      width: 100%;
      height: 100vh;

      .guide{
            position: absolute;
            bottom: 0;
            width: 100%;
            height: auto;
            overflow-x: hidden;
            transition: all .3s ease;
            z-index: 2;
      } 
      
      .video{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            background: #18191c;
            z-index: 1;
            /* border: 1px solid blue; */
      }
}