.guide-wrapper{
      position: relative;
      height: 100%;
      width: 100%;
      border: 1px solid red;
      /* background: linear-gradient(to top, black, transparent); */

      &.active-enter {
            opacity: 0;
      }
      &.active-enter-active {
            opacity: 1;
            transition: opacity 300ms;
      }
      &.active-exit {
            opacity: 1;
      }
      &.active-exit-active {
            opacity: 1;
            transition: opacity 300ms;
      }
}