.navbar{

    .section-wrapper{ 
    
        .navbar-list{
            display: flex;
            flex-direction: row;
    
            .navbar-item{
                margin: 0 5px;
                padding: 5px 15px;
                min-width: 80px;
                transition: all .3s ease;
                text-transform: uppercase;
                letter-spacing: 1px;
                border-radius: 3px;
                text-align: center;
                cursor: pointer;
    
                /* &.active{
                    
                    &::after{
                        content: '';
                        position: absolute;
                        height: 3px;
                        width: 44px;
                        bottom: 13px;
                        background: linear-gradient(-45deg,#052767 0%, #00aeef 100%);
                    }
    
                    p {
                        font-weight: 600;
                        color: white;
                    }
                } */
    
                .navbar-link{
                    text-decoration: none;
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    i, p{
                        font-size: 14px;
                        font-weight: 600;
                        margin: 0 10px;
                        color: rgba(255, 255, 255, 0.5);
                        transition: all .15s ease;
                    }

                    i{
                        font-size: 12px; 
                    }

                    &:hover i{
                        color: rgba(255, 255, 255, 1);
                    }

                    &.active i{
                        color: rgba(255, 255, 255, 1);
                    }

                    &:hover p{
                        color: rgba(255, 255, 255, 1);
                    }

                    &.active p{
                        color: rgba(255, 255, 255, 1);
                    }
                }
            }
        }
    }
}
