$height-top-menu: 100px;

.top-menu{
    position: absolute;
    width: 100%;
    padding: 0 25px;
    box-sizing: border-box;

    .section-wrapper{
        position: relative;
        height: $height-top-menu;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: center;

        .left-section{
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            align-content: center;

            .logo img{
                width: 150px;
                height: auto;
            }

            /* .navbar{} */
        }

        .right-section{
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            align-content: center;

            &>span{
                color: white;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-content: center;
                align-items: center;

                &:not(:last-child){
                    margin-right: 50px;
                }

                i{
                    font-size: 25px;

                    &.fa-search{
                        font-size: 20px;
                    }

                    &.fa-user-circle{
                        font-size: 35px;
                    }
                }
            }
        }   
    }
}

.section-content.w-padding-top{
    padding-top: $height-top-menu;
}