@import '../../scss/style-base.css';

.top-menu{
    position: fixed;
    z-index: 999;
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
    transition: all .5s ease;

    &.bgcolor{
        background: #1d1e21;
    }
    &.bggradient.bgcolor{
        background: #1d1e21;
    }

    &.bggradient{
        background: linear-gradient(to bottom, rgba(0,0,0,0.30), transparent);
    }

    .section-wrapper{
        position: relative;
        height: $height-top-menu;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: center;

        .left-section{
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            align-content: center;

            .logo {
                display: flex;
                flex-direction: row;
                align-items: center;

                img{
                    width: auto;
                    height: 40px;
                }
            } 
            
            .navbar-top-menu{
                transition: all .3s ease;
                opacity: 0;
                margin-left: 25px;
            }
        }

        .right-section{
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            align-content: center;

            &>span{
                color: white;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-content: center;
                align-items: center;

                &:not(:last-child){
                    margin-right: 50px;
                }

                i{
                    font-size: 20px;

                    &.fa-search{
                        font-size: 15px;
                    }

                    &.fa-user-circle{
                        font-size: 20px !important;
                    }
                }
            }
        }   
    }
}

.section-content.w-padding-top{
    padding-top: $height-top-menu;
}