@import '../../scss/style-base.css';

.top-menu{
    width: 100%;
    padding: 0 $padding-content;
    transition: background-color 300ms ease-in-out;

    &.bgcolor{
        background-color: $color-black-2;
    }

    &.bggradient.bgcolor{
        background-color: $color-black-2;
    }

    &.bggradient{
        background: linear-gradient(to bottom, rgba($rgba-color-guide-black, 1), transparent);
    }

    .section-wrapper{
        position: relative;
        height: $height-top-menu;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: center;

        .left-content{
            position: relative;
            display: flex;
            align-items: center;
            align-content: center;

            .logo {
                display: flex;
                align-items: center;

                img{
                    width: auto;
                    height: 40px;
                }
            } 
            
            .navbar-top-menu{
                transition: all .3s ease;
                opacity: 0;
                margin-left: 25px;
            }
        }

        .right-content{
            position: relative;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            align-content: center;

            &>span{
                color: white;
                display: flex;
                justify-content: center;
                align-content: center;
                align-items: center;

                &:not(:last-child){
                    margin-right: 50px;
                }

                i{
                    font-size: 20px;

                    &.fa-search{
                        font-size: 15px;
                    }

                    &.fa-user-circle{
                        font-size: 20px !important;
                    }
                }
            }
        }   
    }
}