.player{
      position: absolute;
      width: 100%;
      height: 100%;
      background: black;

      .player-wrapper{
            position: relative;
            width: 100%;
            height: 100%;

            video{
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  background: black
            }

            .error-message{
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  top: 0;
            }
      }
}