@import '../../styles/style-base.css';

.snackbar-message{
    .MuiSnackbarContent-message{

        p{
            display: flex;
            align-items: center;
            font-size: 16px;
        }

        i{
            font-size: 18px;
            margin-left: 10px;
        }
    }

    .snackbar-success{    
        .MuiPaper-root{
            background: #4e8450 !important;
        }
    }
    
    .snackbar-warning{
        
        .MuiPaper-root{
            background: #c4b35d !important;
        }
    }
    
    
    .snackbar-danger{
        
        .MuiPaper-root{
            background: #bc5952 !important;
        }
    }
    
    .snackbar-info{
        
        .MuiPaper-root{
            background: linear-gradient(270deg, $color-violet 0%, $color-guide-blue 100%) !important;
        }
    }
    
    .snackbar-default{
        
        
    }
}



