$color-guide-black: #18191c;
$color-guide-blue: #00aeef;
$color-guide-purple: #662d91;
$color-background-app: #18191C;

@custom-media --laptop-large-viewport (max-width: 1440px);
@custom-media --laptop-medium-viewport (max-width: 1024px);
@custom-media --tablet-medium-viewport (max-width: 768px);
@custom-media --movil-large-viewport (max-width: 425px);
@custom-media --movil-medium-viewport (max-width: 375px);
@custom-media --movil-small-viewport (max-width: 320px);


/* Top Menu */
$height-top-menu: 60px;

/* Music */
$height-player-music: 100px;


/* :root{
      --color-guide-black: #18191c;
      --color-guide-blue: #00aeef;
      --color-guide-purple: #662d91;
} */