@import '../../scss/style-base.css';

.buttons-sections{
    position: relative;
    width: 100%;
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex: 1 1 auto;
    /* margin-top: -4vw; */

    .buttons-list{
        width: 100%;
        display: flex;
        justify-content: center;
        /* border: 1px solid green; */

        .item-button{
            position: relative;
            flex: 0 0 calc(100%/5);
            transition: all 300ms ease;
            display: flex;
            flex-direction: row;
            justify-content: center;
            transform: scale(0.95);

            .title-button{
                position: absolute;
                font-weight: 600;
                font-size: 1.2vw;
                color: white;
                top: 30%;
                left: 20%;
                text-shadow: 4px 4px 8px rgba($rgba-color-smokey-black, 0.5);
                letter-spacing: 0.5px;
            }

            picture{
                position: relative;
                width: 100%;
                height: 100%;
            }

            .image-button{
                position: relative;
                width: 100%;
                height: auto;
                border: 3px solid transparent;
                box-shadow: rgb(0 0 0 / 10%) 0px 26px 30px -10px, rgb(0 0 0 / 15%) 0px 16px 25px -10px;
                transition: all 300ms ease-in-out;
            }

            &:focus.image-button{
                border: 3px solid $color-white;
                border-top-left-radius: 28px;
                border-bottom-right-radius: 28px;
            }

            &:hover{
                transform: scale(1);
                cursor: pointer;

                .image-button{
                    box-shadow: rgb(0 0 0 / 20%) 0px 40px 58px -16px, rgb(0 0 0 / 20%) 0px 30px 22px -10px
                }
            }

        }
    }
}