@import '../../scss/style-base.css';

.buttons-menu-wrapper{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;

    .item-button{
        position: relative;
        flex: 0 0 calc(100%/5);
        height: 100%;
        transition: all 300ms ease-in-out;
        display: flex;
        flex-direction: row;
        justify-content: center;
        transform: scale(0.95);
        border-radius: 10px;
        /* box-shadow: 4px 4px 8px rgba($rgba-color-smokey-black, 0.25); */
        /* background-color: #424242; */
        /* border: 4px solid $color-grey-5; */
        /* background: linear-gradient(to top, $color-black-1, $color-black-2); */

        &:after{
            content: '';
            position: absolute;
            inset: 0px;
            border: 4px solid transparent;
            border-radius: 20px;
            border-top-left-radius: 1.4vw;
            border-bottom-right-radius: 1.4vw;
            /* border: 10px solid white; */
            transition: all 300ms ease-in-out;
        }

        .title-button{
            position: absolute;
            font-weight: 500;
            font-size: 1.1vw;
            color: white;
            top: 30%;
            left: 20%;
            text-shadow: 4px 4px 8px rgba($rgba-color-smokey-black, 0.5);
            letter-spacing: 1px;
            opacity: 1;
            margin-top: 15px;
            /* text-transform: lowercase; */
        }

        .content-button{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            i{
                color: $color-white;
                font-size: 65px;
                text-shadow: 4px 4px 8px rgba($rgba-color-smokey-black, 0.5);
                /* transform: translateY(10px); */
                transition: all 200ms ease-in-out; 
                /* color: #424242; */
                /* background: -webkit-linear-gradient(yellow,red); */
            }

            svg{
                color: $color-white;
                font-size: 75px;
                text-shadow: 4px 4px 8px rgba($rgba-color-smokey-black, 0.5);
                transition: all 200ms ease-in-out;
                /* transform: translateY(10px); */
            }
        }

        picture{
            position: relative;
            width: 100%;
            height: auto;
            border-radius: 10px;
        }

        .image-button{
            position: relative;
            width: 100%;
            height: 100%;
            border: 3px solid transparent;
            box-shadow: rgb(0 0 0 / 10%) 0px 26px 30px -10px, rgb(0 0 0 / 15%) 0px 16px 25px -10px;
            transition: all 300ms ease-in-out;
            border-radius: 20px;
            opacity: 1;
        }

        &:hover{
            transform: scale(1);
            cursor: pointer;

            .image-button{
                box-shadow: rgb(0 0 0 / 20%) 0px 40px 58px -16px, rgb(0 0 0 / 20%) 0px 30px 22px -10px;
                opacity: 1;
            }

            .title-button{
               opacity: 1;
            }

            /* i{
                transform: translateY(-10px);
            }

            svg{
                transform: translateY(-10px);
            } */

            &:after{
                border: 4px solid $color-white;
            }
            
        }

        
        &.focusable{

            &:focus{

                &:after{
                    border: 4px solid $color-white;
                }
            }
               
        }

    }
}