@import '../../../../scss/style-base.css';

.channel-link{
      position: relative;
      width: 100%;
      flex: 0 0 calc(100% / 5);
      flex-wrap: nowrap;
      min-height: 24vw;

      .channel{
            position: relative;
            height: 100%;
            transform: scale(0.97);
            transition: all 300ms ease;
            border-radius: 10px;
            border: 4px solid transparent;
            overflow-y: auto;
            
            .channel-content{
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  display: flex;
                  flex-direction: column;
                  background: linear-gradient(to bottom, $color-black-1, $color-black-2);
                  border-radius: 10px;
                  cursor: pointer;
      
                  .title-content{
                        padding: 0.8vw 0;
      
                        .title-channel{
                              font-weight: 600;
                              font-size: .85vw;
                              text-align: center;
                              letter-spacing: .5px;
                        }
                  }
      
                  .poster-content{
                        position: relative;
                        width: 100%;
                        height: 10vw;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        overflow: hidden;

                        span{
                              position: relative;
                              display: flex;
                              width: 100%;
                              height: 100%;
                        }

                        img{
                              position: relative;
                              width: 100%;
                              height: 100%;
                              object-fit: cover;
                              border-radius: 4px;
                              background: $color-grey-5;
                              color: $color-white;
                              text-align: center;
                              /* box-shadow: 0 4px 8px 0 rgba(0,0,0,1); */
                        }

                        picture{
                              position: relative;
                              width: 100%;
                              height: 100%;
                        }
      
                        .poster-channel{
                              position: relative;
                              width: 100%;
                              height: 100%;   
                              object-fit: cover;  
                        }
                  }
      
                  .progress-time-content{
                        position: relative;
                        width: 100%;
                        height: .4vw;
                        background: $color-grey-4;
      
                        .progress-time-current{
                              position: absolute;
                              width: 0%;
                              height: 100%;
                              font-weight: 500;
                              font-size: 15px;
                              background: red;
                        }
                  }
      
                  .event-time-content{
                        padding: 0 25px;
                        margin-top: .5vw;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
      
                        .event-time-channel{
                              font-weight: 400;
                              font-size: .75vw;
                              color: $color-white;
                              text-align: left;
      
                              i{
                                    margin-right: .5vw;
                                    font-weight: 600;
                              }
                        }
      
                        .button-live{
                              font-weight: 600;
                              font-size: .65vw;
                              color: white;
                              background: red;
                              padding: .2vw;
                              border-radius: 5px;
                        }
                  }
                  
                  .description-content{
                        padding: 0px 25px;
                        margin-top: .5vw;
                        justify-self: flex-start;
      
                        .description-channel{
                              font-weight: 400;
                              font-size: .8vw;
                              color: $color-grey-2;
                              text-align: left;
                              letter-spacing: .5px;
                        }
                  }
      
                  .buttons-content{
                        position: relative;
                        width: 100%;
                        padding: 0 25px;
                        margin-top: .5vw;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        z-index: 1;
      
                        span{
                              position: relative;
                              border-radius: 50px;
                              width: 1.8vw;
                              height: 1.8vw;
                              background: $color-black-1;
                              margin-right: .5vw;
                              display: flex;
                              justify-content: center;
                              align-items: center;
      
                              i{
                                    font-size: .8vw;
                                    color: $color-white;
                              }

                              &:hover{
                                    background: $color-grey-5; 
                              }
                        }
                  }

                  .info-channel{
                        position: absolute;
                        width: 100%;
                        min-height: 100%;
                        height: auto;
                        background: rgba($rgba-color-guide-black, 1);
                        border-radius: 10px;
                        display: flex;
                        flex-direction: column;
                        padding: 15px 35px;
                        z-index: 2;

                        .content-button-close{
                              width: 100%;
                              display: flex;
                              flex-direction: row;
                              justify-content: flex-end;

                              .button-close{
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: center;
                                    align-items: center;
                                    width: 28px;
                                    height: 28px;
                                    border-radius: 50%;

                                    i{
                                          font-size: 18px;
                                          color: $color-white;
                                          text-align: center;
      
                                    }

                                    &:hover{
                                          background: $color-white;

                                          i{
                                                color: $color-black-2;
                                          }
                                    }
                              }
                        }

                        .title{
                              font-size: .9vw;
                              font-weight: 600;
                              margin-top: 20px;
                        }

                        .description{
                              font-size: .8vw;
                              font-weight: 400;
                              margin-top: 10px;
                        }

                        .content-phone{
                              width: 100%;
                              display: flex;
                              flex-direction: row;
                              align-items: center;
                              margin-top: 1.2vw;
                              font-size: .7vw;

                              i{
                                    color: $color-white;
                                    margin-right: 15px;
                              }

                              p{
                                    font-size: .7vw;
                              }
                        }

                        .content-web{
                              width: 100%;
                              display: flex;
                              flex-direction: row;
                              align-items: center;
                              margin-top: 1.2vw;
                              font-size: .7vw;

                              i{
                                    color: $color-white;
                                    margin-right: 15px;
                              }

                              p{
                                    font-size: .7vw;
                              }
                        }

                        .content-social-media{
                              width: 100%;
                              display: flex;
                              flex-direction: row;
                              align-items: center;
                              margin-top: 1.2vw;
                              font-size: .7vw;

                              .span-icon{
                                   margin-right: 15px;

                                   i{
                                         color: $color-white;
                                         font-size: .7vw;
                                   }
                              }
                        }
                  }

                  &:focus-within{
                        outline: none !important;
                        border: none !important;
                  }
            }
      
            &:hover{
                  transform: scale(1);
                  border: 4px solid $color-white;
      
                  .content-play{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        background: rgba($rgba-color-smokey-black, 0.5);
                        opacity: 0;
      
                        span{
                              border: 2px solid $color-white;
      
                              i{
                                    color: $color-white;
                              }
                        }
                  }  
            }

            &::-webkit-scrollbar {
                  -webkit-appearance: none;
            }

            &::-webkit-scrollbar:vertical{
                  width: 6px;
            }

            &::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
                  display: none;
            }

            &::-webkit-scrollbar-thumb {
                  background-color: $color-grey-3;
                  border-radius: 20px;
            }

            &::-webkit-scrollbar-track {
                  border-radius: 10px;  
            }
      }

      .content-play{
            display: flex;
            position: absolute;
            width: 100%;
            height: 100%;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background: rgba($rgba-color-smokey-black, 0.5);
            transition: all .3s ease;
            opacity: 0;
            
            span{
                  width: 3vw !important;
                  height: 3vw !important;
                  border: 2px solid $color-white;
                  border-radius: 50%;
                  display: flex;
                  flex-direction: row;
                  justify-content: center;
                  align-items: center;

                  i{
                        color: $color-white;
                        font-size: 1.2vw;
                  }
            } 
      }

      &.active{
            .channel{
                  /* transform: scale(1);
                  border: 3px solid transparent;

                  &:hover{
                        border: 3px solid transparent;
                        transform: scale(1);
                  } */
            }

            &:hover{
                  .content-play{
                        opacity: 1;
                  }
            }

            .content-play{
                  opacity: 1;
            }
      }
}