.channel-link{
      position: relative;
      width: 100%;
      flex: 0 0 calc(100% / 5);
      flex-wrap: nowrap;
      min-height: 440px;

      .channel{
            position: relative;
            height: 100%;
            transform: scale(0.97);
            transition: all .3s ease;
            border-radius: 10px;
            border: 2px solid transparent;
            overflow-y: auto;
            
            .channel-content{
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  display: flex;
                  flex-direction: column;
                  background: linear-gradient(to bottom, #242528, #18191c);
                  border-radius: 10px;
                  cursor: pointer;
      
                  .title-content{
                        padding: 20px 0;
      
                        .title-channel{
                              font-weight: 600;
                              font-size: 18px;
                              text-align: center;
                              letter-spacing: .5px;
                        }
                  }
      
                  .poster-content{
                        position: relative;
                        width: 100%;
                        height: 200px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        /* background: #616161; */
                        overflow: hidden;
      
                        .poster-channel{
                              position: relative;
                              width: 100%;
                              height: auto;
                              
                        }
      
                      
                  }
      
                  .progress-time-content{
                        position: relative;
                        width: 100%;
                        height: 7px;
                        background: #616161;
      
                        .progress-time-current{
                              position: absolute;
                              width: 0%;
                              height: 100%;
                              font-weight: 500;
                              font-size: 15px;
                              background: red;
                        }
                  }
      
                  .event-time-content{
                        padding: 0 25px;
                        margin-top: 15px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
      
                        .event-time-channel{
                              font-weight: 400;
                              font-size: 15px;
                              color: rgba(179, 179, 179, 1);
                              text-align: left;
      
                              i{
                                    margin-right: 10px;
                                    font-weight: 600;
                              }
                        }
      
                        .button-live{
                              font-weight: 600;
                              font-size: 12px;
                              color: white;
                              background: red;
                              padding: 5px;
                              border-radius: 5px;
                        }
                  }
                  
                  .description-content{
                        padding: 0px 25px;
                        justify-self: flex-start;
                        margin-top: 15px;
                        min-height: 50px;
      
                        .description-channel{
                              font-weight: 400;
                              font-size: 15px;
                              color: rgba(179, 179, 179, 1);
                              text-align: left;
                              letter-spacing: .5px;
                        }
                  }
      
                  .buttons-content{
                        width: 100%;
                        padding: 0 25px;
                        margin-top: 15px;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
      
                        span{
                              border-radius: 50px;
                              padding: 2px 12.5px;
                              background: #242528;
                              margin-right: 10px;
      
                              i{
                                    color: white;
                              }

                              &:hover{
                                    background:  #616161; 
                              }
                        }
                  }

                  .info-channel{
                        position: absolute;
                        width: 100%;
                        min-height: 100%;
                        height: auto;
                        background: rgba(24,25,28, 0.9);
                        border-radius: 10px;
                        display: flex;
                        flex-direction: column;
                        padding: 15px 35px;

                        .content-button-close{
                              width: 100%;
                              display: flex;
                              flex-direction: row;
                              justify-content: flex-end;

                              .button-close{
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: center;
                                    align-items: center;
                                    width: 28px;
                                    height: 28px;
                                    border-radius: 50%;

                                    i{
                                          font-size: 18px;
                                          color: white;
                                          text-align: center;
      
                                    }

                                    &:hover{
                                          background: white;

                                          i{
                                                color: #18191c;
                                          }
                                    }
                              }
                        }

                        .title{
                              font-size: 18px;
                              font-weight: 600;
                              margin-top: 20px !important;
                        }

                        .description{
                              font-size: 14px;
                              font-weight: 400;
                              margin-top: 10px !important;
                        }

                        .content-phone{
                              width: 100%;
                              display: flex;
                              flex-direction: row;
                              align-items: center;
                              margin-top: 25px;
                              font-size: 15px;

                              i{
                                    color: white;
                                    margin-right: 15px;
                              }

                              p{
                                    font-size: 14px;
                              }
                        }

                        .content-web{
                              width: 100%;
                              display: flex;
                              flex-direction: row;
                              align-items: center;
                              margin-top: 15px;
                              font-size: 15px;

                              i{
                                    color: white;
                                    margin-right: 15px;
                              }

                              p{
                                    font-size: 14px;
                              }
                        }

                        .content-social-media{
                              width: 100%;
                              display: flex;
                              flex-direction: row;
                              align-items: center;
                              margin-top: 25px;

                              .span-icon{
                                   margin-right: 15px;

                                   i{
                                         color: white;
                                         font-size: 20px;

                                   }
                              }
                        }
                  }

                  &:focus-within{
                        outline: none !important;
                        border: none !important;
                  }
            }

      
            &:hover{
                  /* padding: 0; */
                  transform: scale(1);
                  border: 3px solid white;
      
                  .content-play{
                        position: absolute;
                        width: 100%;
                        height: 210px;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        background: rgba(0, 0, 0, 0.5);
                        opacity: 1;
      
                        span{
                              border: 2px solid white;
      
                              i{
                                    color: white;
                              }
                        }
                  }  
            }

            &::-webkit-scrollbar {
                  -webkit-appearance: none;
            }

            &::-webkit-scrollbar:vertical{
                  width: 6px;
            }

            &::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
                  display: none;
            }

            &::-webkit-scrollbar-thumb {
                  background-color: #797979;
                  border-radius: 20px;
            }

            &::-webkit-scrollbar-track {
                  border-radius: 10px;  
            }
      }

      .content-play{
            display: flex;
            position: absolute;
            width: 100%;
            height: 210px;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background: rgba(0, 0, 0, 0.5);
            transition: all .3s ease;
            opacity: 0;
            
            span{
                  width: 60px;
                  height: 60px;
                  border: 2px solid white;
                  border-radius: 50%;
                  display: flex;
                  flex-direction: row;
                  justify-content: center;
                  align-items: center;

                  i{
                        color: white;
                        font-size: 25px;
                  }
            } 
      }

      &.active{
            .content-play{
                  opacity: 1;
            }
      }
}