.info-content{
      position: absolute;
      width: 100%;
      height: auto;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), transparent);
      padding: 50px 50px;

      .title-content{
            position: relative;
            width: 100%;

            p{
                  font-size: 18px;
                  font-weight: 500;
            }

            .name{
                  font-size: 30px;
                  font-weight: 600;
            }
      }

      &.fade-enter {
            opacity: 0;
      }
      &.fade-enter-active {
            opacity: 1;
            transition: opacity 150ms;
      }
      &.fade-enter-done {
            opacity: 1;
      }
      &.fade-exit {
            opacity: 1;
      }
      &.fade-exit-active {
            opacity: 0;
            transition: opacity 150ms;
      }    
      &.fade-exit-done {
            opacity: 0;
      }  
}