@import '../../../../scss/style-base.css';

.info-channel-wrapper{
      padding: 7vw 50px 0 50px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .title-channel{
            position: relative;

            .text-info{
                  color: $color-grey-2;
                  font-weight: 400;
                  font-size: 1vw;
            }
      
            .channel-name{
                  color: $color-white;
                  font-weight: 600;
                  font-size: 1.9vw;
            }
      }

      .right-buttons{
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;

            .container-volume{
                  position: relative;
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  align-content: center;
                  width: 70px;

                  .MuiSlider-root{
                        color: $color-white;
                        margin-top: -7.5px;

                        .MuiSlider-rail{
                              height: 6px;
                              background-color: $color-grey-2;
                        }

                        .MuiSlider-track{
                              height: 6px;
                        }

                        .MuiSlider-thumb{
                              height: 16px;
                              width: 16px;
                              margin-top: -5px;

                              &.MuiSlider-active{
                                    box-shadow: none;
                              }

                              &.Mui-focusVisible{
                                    box-shadow: none;
                              }

                              &:hover{
                                    box-shadow: none;
                              }
                        }
                  }
            }

            .icon{
                  cursor: pointer;
                  display: flex;
                  align-items: center;
                  
                  i{
                        font-size: 22px;
                        color: $color-white;
                  }

                  img{
                        position: relative;
                        width: auto;
                        height: 20px;
                  }
            }

            .full-screen-icon{
                  margin-left: 25px;
            }

            .volume-icon{
                  margin-left: 25px;
                  min-width: 25px;
            }
      }
}

#tyh-ugk{
      .MuiTooltip-tooltip{
            width: 200px;
            padding: 2.5px 20px !important;
/* 
            &.MuiTooltip-tooltipPlacementLeft{
                  margin: 0;
            } */
      
            .MuiSlider-root{
                  color: $color-white !important;
                  /* margin-top: -7.5px !important; */
            
                  .MuiSlider-rail{
                        height: 6px !important;
                        background-color: $color-grey-2 !important;
                  }
            
                  .MuiSlider-track{
                        height: 6px !important;
                  }
            
                  .MuiSlider-thumb{
                        height: 16px !important;
                        width: 16px !important;
                        margin-top: -5px !important;
            
                        &.MuiSlider-active{
                              box-shadow: none !important;
                        }
            
                        &.Mui-focusVisible{
                              box-shadow: none !important;
                        }
            
                        &:hover{
                              box-shadow: none !important;
                        }
                  }
            }
      }
}